{% extends 'layouts/base.html' %}

    {% block content %}
    <section class="about">
        <h1 class="heading">about me</h1>
        <div class="content">
            <h3 class="my_name">My name is <span>Nasirov Kamoliddin</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse hic cum facilis. Adipisci praesentium
                minus, ex cupiditate possimus hic quibusdam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta incidunt dignissimos rem voluptatem ipsa
                officia ad eos laborum facilis quidem!</p>
        </div>

        <div class="skills">
            <div class="progress">
                <h3>html <span>95%</span></h3>
                <div class="bar"><span></span></div>
            </div>

            <div class="progress">
                <h3>css <span>55%</span></h3>
                <div class="bar"><span></span></div>
            </div>

            <div class="progress">
                <h3>python <span>25%</span></h3>
                <div class="bar"><span></span></div>
            </div>

            <div class="progress">
                <h3>django <span>15%</span></h3>
                <div class="bar"><span></span></div>
            </div>
        </div>

    </section>
    {% endblock %}